@model FineTracker.Web.Models.ViewModels.AccountViewModels.LoginViewModel


<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">Login</h1>
            <form method="post">
                <div class="container mb-3">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" asp-for="Email" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Email or Username — any one is fine" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" asp-for="UserName" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Email or Username — any one is fine" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" asp-for="Password" />
                    </div>
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>